.example {
  font-size: 50px;
}

body {
	color:#fff;
	padding: 0px;
	margin: 0px;
	font-family: Helvetica neue;
}

.footer a, .footer {
	color: #8C8C8C;
	text-decoration: none;
}

.footer a:visited {
	color: #8C8C8C;
}

.footer a:hover {
	color: #8C8C8C;
	text-decoration: underline;
}

input {
-webkit-appearance:none;
}