.example {
  font-size: 50px;
}

.helvetica {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
}

body {
	color:#fff;
	padding: 0px;
	margin: 0px;
	font-family: Helvetica neue;
}

button {
    font-family : inherit;
    font-size: 1em;
}

.footer a, .footer {
	color: #8C8C8C;
	text-decoration: none;
}

.footer a:visited {
	color: #8C8C8C;
}

.footer a:hover {
	color: #8C8C8C;
	text-decoration: underline;
}

input {
-webkit-appearance:none;
}

input.inputbox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Helvetica Neue;
  font-weight: bold;
  color:gray;
  
}